# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Package rule — do NOT commit lockfile
pubspec.lock

# DartDoc output
doc/api/

# Editor / IDE
*.iml
*.ipr
*.iws
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Vim / temp files
*.swp
*.swo
